<link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="action-log">
  <template attributes="actions">
  
	  <style>
			.doneText {
				font-size: 8px;
				margin: 0;
			}
			#actions {
				overflow-y: scroll;
				height: 500px;
			}
			span {
				font-size: 11px;
				font-weight: bold;			
			}
		</style>
	  
	  <div>
			<ol id="actions" reversed>
				<template repeat="{{action in actions | reverse(actions)}}">
					<li>
						<img src="../img/icon16/{{name(action)}}.png" />
						<span>{{name(action)}}</span>
						<p class="doneText">{{action.doneText}}</p>
					</li>
				</template>
			</ol>
	  </div>
    
  </template>
  <script type="application/dart" src="action_log.dart"></script>
</polymer-element>