    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="action-queue">
  <template attributes="queue">
  
	  <style>
	  	#user {
	  		font-weight: bold;
	  	}
      /*
	  	ul {
	  	  padding: 0;
    		list-style-type: none;
	  	}
      ol {
        padding: 0;
        list-style-type: none;
      }
      */
	  	#empty {
	  		color: grey;
	  	}
      ol > li > ol {
        margin=-left: 16px;
      }
      ol > li > ul {
        margin=-left: 16px;
      }
	  </style>
	  
    	<template if="{{queue.isEmpty}}">
	    	<span id="empty">empty</span>
    	</template>
    	
    	<ol>
    		<template repeat="{{queueItem in queue}}">
        
    			<template if="{{isUnordered(queueItem)}}">
            <span>unordered</span>
            <li>
              <ul>
                <template repeat="{{queuedAction in queueItem.group}}">
                  <li>{{queuedAction.gameAction.todoText}}</li>
                </template>
              </ul>
            </li>
    			</template>
    			
    			<template if="{{isOrdered(queueItem)}}">
            <span>unordered</span>
    				<li>
	    				<ol>
		    				<template repeat="{{queuedAction in queueItem.group}}">
		    					<li>{{queuedAction.gameAction.todoText}}</li>
		    				</template>
	    				</ol>
    				</li>
    			</template>
    			
    			<template if="{{isSingle(queueItem)}}">
	    			<li>
	    				<span>{{queueItem.gameAction.todoText}}</span>
	    			</li>
    			</template>
    		</template>
    		
    	</ol>
    	
    
  </template>
  <script type="application/dart" src="action_queue.dart"></script>
</polymer-element>