    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="bank-stock">
  <template attributes="bank">
  
	  <style>
	  	ul {
	  		padding: 0;
	  	}
	  	li {
	  		display: table-cell;
	  		padding-right: 0.8em;
	  	}
	  </style>
		
		
		<ul>
			<li><img src="../img/icon16/Bank.png" /><strong>Bank</strong></li>
			<li><span>Total: {{bank.resources.length}}</span>
			<li>
				<img src="../img/icon16/Timber.png" />
				<span>{{bank.resources.byType[timber].length}}</span>
			</li>
			<li>
				<img src="../img/icon16/Wheat.png" />
				<span>{{bank.resources.byType[wheat].length}}</span>
			</li>
			<li>
				<img src="../img/icon16/Ore.png" />
				<span>{{bank.resources.byType[ore].length}}</span>
			</li>
			<li>
				<img src="../img/icon16/Sheep.png" />
				<span>{{bank.resources.byType[sheep].length}}</span>
			</li>
			<li>
				<img src="../img/icon16/Clay.png" /> 
				<span>{{bank.resources.byType[clay].length}}</span>
			</li>
			<li>
				<img src="../img/icon16/BlankDevelopmentCard.png" /> 
				<span>{{bank.developmentCards.length}}</span>
			</li>
		</ul>
    
  </template>
  <script type="application/dart" src="bank_stock.dart"></script>
</polymer-element>
