    <link rel="import" href="../packages/polymer/polymer.html">
    
  <link rel="import" href="board_ui.html">
  <link rel="import" href="cell_neighbours.html">
  <link rel="import" href="visual_info.html">
  <link rel="import" href="board_control.html">
  <link rel="import" href="board_statistics.html">
  
<polymer-element name="board-test">

	<style>
	 	ul > li {
  		display: table-cell;
  	}
	</style>

	<template>
	
		<ul>
			<li>
				<h2>neighbours</h2>
				<cell-neighbours cell="{{selectedCell}}"></cell-neighbours>
			</li>
			<li><board-control id="board-control"></board-control></li>
			<li><board-statistics board="{{board}}"></board-statistics></li>
			
		</ul>
		<board-ui id="board-ui" board="{{board}}" width="500" height="500"></board-ui>
    
  </template>
  
  <script type="application/dart" src="board_test.dart"></script>
</polymer-element>