<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="board-ui">
  <template attributes="board height width">

    <div id="board">
    <!-- 
    	<table>
    		<tr>
    			<td><input type="button" value="SelectOnHover" on-click="{{selectOnHover}}"></td>
    			<td><input type="button" value="ChangeTile" on-click="{{changeTile}}"></td>
    			<td><input type="button" value="PickVertex" on-click="{{pickVertex}}"></td>
    			<td><input type="button" value="PickEdge" on-click="{{pickEdge}}"></td>
    			<td><input type="button" value="PickTown" on-click="{{pickTown}}"></td>
    			<td><input type="button" value="PickRoad" on-click="{{pickRoad}}"></td>
    		</tr>
    	</table>
     -->
    </div>
    
  </template>
  <script type="application/dart" src="board_ui.dart"></script>
</polymer-element>