  <link rel="import" href="board_ui.html">
  <link rel="import" href="cell_neighbours.html">
  <link rel="import" href="visual_info.html">
  <link rel="import" href="board_control.html">
  
<polymer-element name="board-statistics" attributes="board">

	<style>

	</style>

	<template>
	
		<ul>
			<li><span>#Tiles: </span><span>{{board.tiles.length}}</span></li>
			<li><span>#Edges: </span><span>{{board.edges.length}}</span></li>
			<li><span>#Vertices: </span><span>{{board.vertices.length}}</span></li>
		</ul>
    
  </template>
  
  <script type="application/dart" src="board_statistics.dart"></script>
</polymer-element>