    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="board-control">
  <template attributes="boardVisual">
  
	  <style>
	  	ul {
	  		padding: 0;
	  	}
	  	li {
	  		display: table-cell;
	  		padding-right: 0.8em;
	  	}
	  </style>
	  
	  <ul>
	  	<li><input type="button" value="Show edges" on-click="{{boardVisual.showAllEdges}}" /></li>
	  	<li><input type="button" value="Hide edges" on-click="{{boardVisual.hideAllEdges}}" /></li>
	  	<li><input type="button" value="Show vertices" on-click="{{boardVisual.showAllVertices}}" /></li>
	  	<li><input type="button" value="Hide vertices" on-click="{{boardVisual.hideAllVertices}}" /></li>
	  </ul>
    
  </template>
  
  <script type="application/dart" src="board_control.dart"></script>
</polymer-element>
