<link rel="import" href="action_button/build_city_button.html">
<link rel="import" href="action_button/build_town_button.html">
<link rel="import" href="action_button/build_road_button.html">
<link rel="import" href="action_button/buy_development_card_button.html">
<link rel="import" href="action_button/move_robber_button.html">
<link rel="import" href="action_button/rob_player_button.html">
<link rel="import" href="action_button/end_turn_button.html">
<link rel="import" href="action_button/loose_cards_button.html">
<link rel="import" href="action_button/trade_bank_button.html">
<link rel="import" href="action_button/trade_player_button.html">
<link rel="import" href="action_button/claim_victory_button.html">
<link rel="import" href="todo_action.html">
    
<polymer-element name="build-piece">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #buttons {
        height: 60px;
      }
    </style>

    <div>
      <span>done: {{game.lastAction.doneText}}</span>
    </div>
    <div>
      <todo-action game="{{game}}" player="{{player}}"></todo-action>
    </div>    
    <div id="buttons">
      <roll-dice-button id="roll-dice-button" player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}"></roll-dice-button>
      <build-town-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></build-town-button>
      <build-road-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></build-road-button>
      <build-city-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></build-city-button>
      <buy-development-card-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></buy-development-card-button>
      <move-robber-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></move-robber-button>
      <rob-player-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></rob-player-button>
      <trade-bank-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></trade-bank-button>
      <trade-player-button player={{player}} game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}"></trade-player-button>
      <loose-cards-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></loose-cards-button>
      <end-turn-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}" boardVisual="{{boardVisual}}"></end-turn-button>
      <claim-victory-button player="{{player}}" game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}"></claim-victory-button>
    </div>
    
  </template>
  <script type="application/dart" src="build_piece.dart"></script>
</polymer-element>