<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="board_ui.html">

<polymer-element name="cell-neighbours">
  <template attributes="boardVisual">
  
	  <style>
	  	* {
		  	font-size: 18px;
		  	color: white;
	  	}
	  	span {
	  		position: absolute;
	  		clear: both;
	  	}
	  	#container {
	  		position: relative;
	  	}
	  	#center { top: 90px;  left: 80px; font-weight: bold; color: yellow; font-size: 22px; }
	  	#cell0  { top: 40px;  left: 110px; }
	  	#cell1  { top: 90px;  left: 140px; }
	  	#cell2  { top: 140px; left: 110px; }
	  	#cell3  { top: 140px; left: 50px;  }
	  	#cell4  { top: 90px;  left: 20px;  }
	  	#cell5  { top: 40px;  left: 50px;  }
	  	#board-ui { width: 200px; height: 200px; }
	  </style>
	  
		<div id="container">
		  <span id="center">{{cell.text}}</span>
		  <span id="cell0">{{cell.cells[0].text}}</span>
		  <span id="cell1">{{cell.cells[1].text}}</span>
		  <span id="cell2">{{cell.cells[2].text}}</span>
		  <span id="cell3">{{cell.cells[3].text}}</span>
		  <span id="cell4">{{cell.cells[4].text}}</span>
		  <span id="cell5">{{cell.cells[5].text}}</span>
		</div>
    <input type="button" value="woei" on-click="{{woei}}" />
	  <board-ui id="board-ui" board="{{board}}" height="200" width="200"></board-ui>
	  
  </template>
  <script type="application/dart" src="cell_neighbours.dart"></script>
</polymer-element>
