  <link rel="import" href="game_info.html">
  <link rel="import" href="action_log.html">
  <link rel="import" href="packages/html_components/menu/menubar.html">
  <link rel="import" href="packages/html_components/menu/menu_button.html">
  <link rel="import" href="packages/html_components/menu/menu_item.html">
  <link rel="import" href="packages/html_components/menu/menu_separator.html">
  <link rel="import" href="packages/html_components/menu/split_button.html">
  <link rel="import" href="packages/html_components/menu/submenu.html"> 
  <link rel="import" href="packages/html_components/dialog/dialog.html"> 
  <link rel="import" href="game_settings.html">
  <link rel="import" href="scripted_game.html">
  <link rel="import" href="local_bot_game.html">
            
<polymer-element name="dartan-main">

  <template>
  
    <h-menubar>
      <h-submenu label="File" icon="document">
        <h-menu-item label="localBotGame" on-click="{{localBotGame}}">Bot</h-menu-item>
        <h-menu-item label="scriptedGame" on-click="{{scriptedGame}}">Scripted</h-menu-item>
      </h-submenu>
    </h-menubar>
    
    <div id="main">
      <scripted-game id="scripted-game" style="display:none"></scripted-game>
      <local-bot-game id="local-bot-game" style="display:none"></local-bot-game>
    </div>
    
  </template>
  <script type="application/dart" src="dartan_main.dart"></script>
</polymer-element>