    <link rel="import" href="packages/html_components/dialog/dialog.html">
    <link rel="import" href="development_card/play_soldier.html">  
    <link rel="import" href="development_card/play_victory_point_button.html">  
    <link rel="import" href="development_card/play_invention_button.html">  
    <link rel="import" href="development_card/play_monopoly_button.html">  
    <link rel="import" href="development_card/play_road_building_button.html">  
    <link rel="import" href="resource_picker.html">  
    
<polymer-element name="development-card-list">
  <template attributes="player gameServerEndPoint game boardVisual">

		<style>
			li {
				display: inline;
				list-style-type: none; 
			}
			ul {
				margin-right: 8px;
				display: inline;
				padding: 0;
			}
		</style>

    <ul>
	    <template repeat="{{dc in player.developmentCards}}">
	    	<li>
          <template if="{{isSoldier(dc)}}">
            <play-soldier player="{{player}}" gameServerEndPoint="{{gameServerEndPoint}}" soldier="{{dc}}"></play-soldier>
          </template>
          <template if="{{isVictoryPoint(dc)}}">
            <play-victory-point-button player="{{player}}" gameServerEndPoint="{{gameServerEndPoint}}" victoryPoint="{{dc}}"></play-victory-point-button>
          </template>
          <template if="{{isInvention(dc)}}">
            <play-invention-button player="{{player}}" gameServerEndPoint="{{gameServerEndPoint}}" invention="{{dc}}"></play-invention-button>
          </template>
          <template if="{{isMonopoly(dc)}}">
            <play-monopoly-button player="{{player}}" gameServerEndPoint="{{gameServerEndPoint}}" monopoly="{{dc}}"></play-monopoly-button>
          </template>
          <template if="{{isRoadBuilding(dc)}}">
            <play-road-building-button player="{{player}}" gameServerEndPoint="{{gameServerEndPoint}}" roadBuilding="{{dc}}"></play-road-building-button>
          </template>
        </li>
	    </template>
    </ul>
    
    

    
  </template>

  <script type="application/dart" src="development_card_list.dart"></script>
</polymer-element>
