<link rel="import" href="packages/html_components/panel/tabview.html">
<link rel="import" href="packages/html_components/panel/tab.html">
<link rel="import" href="player_statuses.html">
<link rel="import" href="bank_stock.html">
<link rel="import" href="board_ui.html">
<link rel="import" href="action_button/roll_dice_button.html">
<link rel="import" href="game_status.html">
<link rel="import" href="chat_log.html">
<link rel="import" href="action_queue.html">
   
<polymer-element name="game-info">
  <template attributes="game">
    
    <!-- layouts from 
    	http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-33-fluid-fluid-fluid/ 
    -->
  
	  <style>
			body {
				margin:0;
				padding:0;
				line-height: 1.5em;
			}
			
			#topsection {
				background: #EAEAEA;
				height: 90px; /*Height of top section*/
			}
			
			#topsection h1 {
				margin: 0;
				padding-top: 15px;
			}
			
			#contentwrapper {
				float: left;
				width: 100%;
			}
			
			#contentcolumn {
				/*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
				margin: 0 30% 0 20%; 
				background: black;
			}
			
			#leftcolumn {
				float: left;
				width: 20%; /*Width of left column in percentage*/
				margin-left: -100%;
			}
			
			#rightcolumn {
				float: left;
				width: 30%; /*Width of right column in pixels*/
				margin-left: -30%; /*Set margin to that of -(RightColumnWidth)*/
				background: #FDE95E;
			}
			
			#footer {
				clear: left;
				width: 100%;
				background: #CCC;
				/* padding: 4px 0; */
				height: 60px;
			}
			
			#footer a {
				color: #FFFF80;
			}

			#footer li {
				display: table-cell;
				float: left;
			}
			
			.innertube {
				margin-top: 0;
			}
	  </style>

		<div id="maincontainer">
		
			<div id="topsection">
				<div class="innertube">
					<h1>game-info element</h1>
				</div>
			</div>
			
			<div id="contentwrapper">
				<div id="contentcolumn">
					<div class="innertube">
					
    				<board-ui board="{{game.board}}" width="500" height="500"></board-ui>

					</div>
				</div>
			</div>
			
			<div id="leftcolumn">
				<div class="innertube">
					<player-statuses players="{{game.players}}"></player-statuses>
					<bank-stock bank="{{game.bank}}"></bank-stock>
				</div>
			</div>
			
			<div id="rightcolumn">
			
				<div class="innertube">
					<h-tabview>
						<h-tab header="Actions">
							<action-queue queue="{{game.queue}}"></action-queue>
						</h-tab>
						<h-tab header="ChitChat">
							<chat-log chats="{{game.chats}}"></chat-log>
						</h-tab>
					</h-tabview>
					<action-queue queue="{{game.queue}}"></action-queue>
				<!-- 
					<action-queue queue="{{game.queue}}"></action-queue>
				 -->
				</div>
			</div>
			
			<div id="footer">
				<roll-dice-button></roll-dice-button>
				<game-status game="{{game}}"></game-status>
			</div>
			
		</div> <!-- MainContainer -->

  </template>
  <script type="application/dart" src="game_info.dart"></script>
</polymer-element>
