    <link rel="import" href="../packages/polymer/polymer.html">
    <link rel="import" href="turn_status.html">
    
<polymer-element name="game-status">

  <template attributes="game">
	  <style>
	  #gamePhase {
	  	position: relative;
	  	margin: 0;
	  	top: 0;
	  	right: 0;
	  }
	  </style>
	  
	  <ul id="gamePhase">
      <li><span>{{game.phases.current}}</span></li>
      <li><span>{{game.phases.turns.phases.current}}</span></li>
	  	<li><span>{{name(game.status)}}</span></li>
	  	<li><span>turn #{{game.phases.turns.turn.humanIndex)}}</span></li>
	  	<li><turn-status turn="{{game.phases.turns.turn}}"></turn-status></li>
	  </ul>

  </template>
  <script type="application/dart" src="game_status.dart"></script>
</polymer-element>
