<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="../packages/html_components/panel/tabview.html">
<link rel="import" href="../packages/html_components/panel/tab.html">

<link rel="import" href="player_statuses.html">
<link rel="import" href="bank_stock.html">
<link rel="import" href="board_ui.html">
<link rel="import" href="game_status.html">
<link rel="import" href="chat_log.html">
<link rel="import" href="action_queue.html">
<link rel="import" href="player_hand.html">
<link rel="import" href="action_log.html">
<link rel="import" href="build_piece.html">
    
   
<polymer-element name="game-play">
  <template attributes="game gameServerEndPoint">
  
    
    <!-- layouts from 
      http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-33-fluid-fluid-fluid/ 
    -->
  
    <style>

      body {
        margin:0;
        padding:0;
        line-height: 1.5em;
      }
      
      #topsection {
        background: #EAEAEA;
        height: 25px; /*Height of top section*/
      }
      
      #topsection h1 {
        margin: 0;
        padding-top: 15px;
      }
      
      #contentwrapper {
        float: left;
        width: 100%;
      }
      
      #contentcolumn {
        /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
        margin: 0 40% 0 20%;
        padding: 40px;
        background: black;
      }
      
      #leftcolumn {
        float: left;
        width: 20%; /*Width of left column in percentage*/
        margin-left: -100%;
      }
      
      #rightcolumn {
        float: left;
        width: 20%; /*Width of right column in pixels*/
        margin-left: -20%; /*Set margin to that of -(RightColumnWidth)*/
        background: #FDE95E;
      }
      #beforerightcolumn {
        float: left;
        width: 20%; /*Width of right column in pixels*/
        margin-left: -40%; /*Set margin to that of -(RightColumnWidth)*/
        background: #AEE95E;
      }
      #footer {
        clear: left;
        width: 100%;
        background: #CCC;
        /* padding: 4px 0; */
        height: 120px;
      }
      
      #footer a {
        color: #FFFF80;
      }

      #footer li {
        display: table-cell;
        float: left;
      }
      
      .innertube {
        margin-top: 0;
      }
      strong {
        text-decoration: underline;
        font-weight:bold;
      }
    </style>

    <div id="maincontainer">
    
      <div id="topsection">
        <div class="innertube">
          <span>game-play element</span>
          <span>You are <strong>{{player.user.name}}</strong>. </span>
        </div>
      </div>
      
      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
            <board-ui id="board-ui" board="{{game.board}}" width="500" height="500"></board-ui>
          </div>
        </div>
      </div>
      
      <div id="leftcolumn">
        <div class="innertube">
          <player-statuses id="player-statuses" players="{{game.players}}"></player-statuses>
          <bank-stock bank="{{game.bank}}"></bank-stock>
          <game-status game="{{game}}"></game-status>
        </div>
      </div>
      
      <div id="beforerightcolumn">
        <div class="innertube">
          <action-queue queue="{{game.queue}}"></action-queue>
        </div>
      </div>
      
      <div id="rightcolumn">
        <div class="innertube">
          <!-- action-log & action-queue don't work for unknown reason
          <h-tabview>
            <h-tab header="Queue">
              <action-queue queue="{{game.queue}}"></action-queue>
            </h-tab>
            <h-tab header="ChitChat">
              <chat-log chats="{{game.chats}}"></chat-log>
            </h-tab>
            <h-tab header="Actions">
              <action-log actions="{{game.actions}}"></action-log>
            </h-tab>
          </h-tabview>
          -->
          <action-log actions="{{game.actions}}"></action-log>
        </div>
      </div>
      
      <div id="footer">
        <build-piece 
          id="build-piece"
          player="{{player}}" 
          game="{{game}}"
          gameServerEndPoint="{{gameServerEndPoint}}" 
          boardVisual="{{boardVisual}}"></build-piece>
        <player-hand 
          player="{{player}}"
          boardVisual="{{boardVisual}}"
          game="{{game}}" 
          gameServerEndPoint="{{gameServerEndPoint}}"
          ></player-hand>
        <button id="stop-game-state" value="okay" disabled on-click="{{stopState}}">
          OK
        </button>
      </div>
      
    </div> <!-- MainContainer -->

  </template>
  <script type="application/dart" src="game_play.dart"></script>
</polymer-element>
