    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="game-settings">
  <template>
  
    <style>
    </style>
    
    <!--
    <fieldset>
      <label for="board">Board</label>
      <select id="board">
        <template repeat="{{b in boards}}">
          <option value="">{{name(b)}}</option>
        </template>
        <option value="test">testa</option>
      </select>
    </fieldset>
    -->
    
    <fieldset>
      <label for="">Victory points to win:</label>
      <input type="number" value="{{gameSettings.victoryPointsToWin}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Maximum cards in hand when a seven rolls:</label>
      <input type="number" value="{{gameSettings.maxCardsOn7}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Maximum trade offers per turn:</label>
      <input type="number" value="{{gameSettings.maxCardsOn7}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Stock towns:</label>
      <input type="number" value="{{gameSettings.stockTowns}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Stock cities:</label>
      <input type="number" value="{{gameSettings.stockCities}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Stock roads:</label>
      <input type="number" value="{{gameSettings.stockRoads}}" />
    </fieldset>
    
    <fieldset>
      <label for="">Bank amopunt per resource type:</label>
      <input type="number" value="{{gameSettings.bankResourceAmount}}" />
    </fieldset>

    
  </template>
  <script type="application/dart" src="game_settings.dart"></script>
</polymer-element>