<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="has-port">
  <template attributes="player type threeToOne">
  
    <style>
      img {
        opacity: {{hasPort ? "1.0" : "0.25"}}
      }
    </style>
    
    <template if="{{type != null}}"> 
      <img src="../img/icon16/{{name(type)}}Port.png">
    </template>
    
    <template if="{{threeToOne}}">
      <img src="../img/icon16/ThreeToOnePort.png">
    </template>
        
  </template>
  <script type="application/dart" src="has_port.dart"></script>
</polymer-element>