  <link rel="import" href="game_play.html">
  <link rel="import" href="action_log.html">
    <link rel="import" href="game_settings.html">
    <link rel="import" href="../packages/polymer/polymer.html">
    

<polymer-element name="local-bot-game">


  <template>
  
    <style>
      body{
        margin:0;
        padding:0;
        line-height: 1.5em;
      }
      #maincontainer{
        margin: 0 auto; /*Center container on page*/
      }
      #topsection{
        background: #EAEAEA;
        height: 70px; /*Height of top section*/
      }
      #topsection h1{
        margin: 0;
      }
      #contentwrapper{
        float: left;
        width: 100%;
      }
      #contentcolumn{
        margin-left: 200px; /*Set left margin to LeftColumnWidth*/
      }
      #leftcolumn{
        /* float: left;*/
        width: 200px; /*Width of left column*/
        /* margin-left: -840px; /*Set left margin to -(MainContainerWidth)*/
        background: #C8FC98;
        position: absolute;
      }
      #footer{
        clear: left;
        width: 100%;
        background: black;
        color: #FFF;
        text-align: center;
        padding: 4px 0;
      }
      #footer a{
        color: #FFFF80;
      }
      .innertube{
        margin-top: 0;
      }
    
    </style>
    
    <div id="maincontainer">
    
      <div id="topsection">
        <div class="innertube">
          <h1>Local bot game</h1>
          <input type="button" on-click="{{newGame}}" value="New game"/>
        </div>
      </div>
      
      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
            <game-play game="{{game}}" gameServerEndPoint="{{gameServerEndPoint}}"></game-play>
          </div>
        </div>
      </div>
      
      <div id="leftcolumn">
        <div class="innertube">
        
        
          
        </div>
      </div>
      
      <div id="footer">footer</div>
    
    </div>
    
    <h-dialog id="gameSettings-dialog" closable modal>
      <header>Start a new game</header>
      <form>
        <game-settings></game-settings>
        <input type="button" value="start" />
      </form>
    </h-dialog>
    
    <h-dialog id="start-game" modal>
      <header>Start game</header>
      <form>
        <span>Since you're the host, you should start the game.</span>
        <input type="button" value="start" on-click="{{startGame}}" />
      </form>
    </h-dialog>
    
  </template>
  <script type="application/dart" src="local_bot_game.dart"></script>
</polymer-element>