    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="object-list">
  <template>
	  <style>
	  </style>
    <h1>{{name(objects)}}</h1>
    <ul>
      <template repeat="{{o in objects}}">
        <li>
          <img src="{{icon(o)}}">
          <span>{{name(o)}}</span>
        </li>
      </template>
    </ul>
    
  </template>
  <script type="application/dart" src="object_list.dart"></script>
</polymer-element>