<link rel="import" href="resource_list.html">
<link rel="import" href="port_list.html">
<link rel="import" href="development_card_list.html">
<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="player-hand" attributes="player gameServerEndPoint game boardVisual">
  <template>
  
    <style>

    </style>
    
    <resource-list resources="{{player.resources}}"></resource-list>
    <development-card-list 
      player="{{player}}"
      gameServerEndPoint="{{gameServerEndPoint}}"
      game="{{game}}"
      boardVisual="{{boardVisual}}">
    </development-card-list>
    <port-list ports="{{player.ports}}"></port-list>
    
  </template>
  <script type="application/dart" src="player_hand.dart"></script>
</polymer-element>