<link rel="import" href="player_status.html">

<polymer-element name="player-statuses">
  <template attributes="players">
	  <style>

	  </style>
    <template repeat="{{player in players}}">
      <player-status player="{{player}}" id="{{player.hashCode}}"></player-status>
	  </template>
    
  </template>
  <script type="application/dart" src="player_statuses.dart"></script>
</polymer-element>