<link rel="import" href="development_card_list.html">
<link rel="import" href="resource_list.html">

<polymer-element name="player-status">
  <template attributes="player">
    <style>
      #container {
        width: 1000px;
        height: 100%;
        pointer-events:none;
        display: flex;
      }
      #inner-container {
        border-left: 4px solid {{player.color}};
        border-right: {{player.isOnTurn ? "14" : "4"}}px solid {{player.color}};
        border-bottom: 4px solid {{player.color}};
        border-top: 4px solid {{player.color}};
        position: relative;
        height: 90px;
        width: 294px;
        display: inline-table;
      }
      #transparent {
        background: {{player.color}};
        position: absolute;
        opacity: 0.1;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
      }
      ul {
        padding: 0;
        margin: 0.25em;
      }
      li {
        display: table-cell;
        padding-right: 0.8em;
        width: 16px;
      }
      h3 {
        margin: 0.25em;
      }
      #tooltip {
        /* position: absolute; */
        /* width: 200px; */
        background-color: rgba(255,255,255,0.5);
        display: inline-table;
        height: 90px;
        border-right: 4px solid {{player.color}};
        border-bottom: 4px solid {{player.color}};
        border-top: 4px solid {{player.color}};
      }
      #dice-number {
        font-size: 24px;
      }
    </style>
    <div id="container">
    
      <div id="inner-container">
        <div id="transparent"></div>
        <h3>{{player.user.name}}</h3>
        <resource-list resources="{{player.resources}}"></resource-list>
        <ul>
          <li>
            <img src="..\img\icon16\City.png">
            <span>{{player.stock.cities.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\Town.png">
            <span>{{player.stock.towns.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\Road.png">
            <span>{{player.stock.roads.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\VictoryPoints.png">
            <span>{{player.totalPoints}}</span>
          </li>
          <li>
            <img src="..\img\icon16\Abstract.png">
            <span>{{player.resources.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\BlankCard.png">
            <span>{{player.developmentCards.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\Port.png">
            <span>{{player.ports.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\Army.png">
            <span>{{player.soldiers.length}}</span>
          </li>
          <li>
            <img src="..\img\icon16\LongestRoad.png">
            <span>{{player.bestRoad.length}}</span>
          </li>
        </ul>
      </div>
      
      <div id="tooltip">
        <img id="tooltip-icon" height="32" width="32" style="display: none;">
        <span id="dice-number" style="display: none;"></span>
        <resource-list id="tooltip-resources"></resource-list>
      </div>
      
    </div>
    
  </template>
  <script type="application/dart" src="player_status.dart"></script>
</polymer-element>