    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="port-list">
  <template attributes="ports">

    <style>
      li {
        display: inline;
        list-style-type: none;
      }
      ul {
        margin-right: 8px;
        display: inline;
        padding: 0;
      }
    </style>


    <ul>
      <template repeat="{{port in ports}}">
        <li><img src="{{icon(port)}}"></li>
      </template>
    </ul>
    
  </template>

  <script type="application/dart" src="port_list.dart"></script>
</polymer-element>
