    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="resource-list">
  <template attributes="resources right">

		<style>
			li {
				display: inline;
				list-style-type: none;
			}
			ul {
				margin-right: 8px;
				display: inline;
				padding: 0;
        float: {{right ? "right" : "none"}};
			}
		</style>


    <ul>
	    <template repeat="{{type in resources.byType.keys}}">
	    	<li>
		    	<ul>
			    	<template repeat="{{resource in resources.byType[type]}}">
			      	<li on-click="{{clicked}}" data-hashcode="{{resource.hashCode}}">
                <img src="{{icon(resource)}}">
              </li>
			      </template>
		      </ul>
	      </li>
	    </template>
    </ul>
    
  </template>

  <script type="application/dart" src="resource_list.dart"></script>
</polymer-element>
