<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="resource_list.html">
    
<polymer-element name="resource-picker">
  <template attributes="pickable maximumPicks finite">
	  <style>
	    ul {
	      list-style: none;
	      list-style-type: none;
	      float  : left;
	      cursor: pointer;
	      margin: 2px;
	      padding: 2px;
	      display: inline;
	      height: 20px;
	      clear: both;
	    }
	    li:hover {
	      border: 2px black solid;
	    }
	    li {
	      border: 2px white solid;
	    	display: inline;
	    }
	  </style>
    
    <resource-list resources="{{pickable}}" on-resourceselected="{{pick}}"></resource-list>
    <div>
      <resource-list resources="{{picked}}" on-resourceselected="{{dePick}}"></resource-list>
    </div>
    
    <div style="clear: both">
      <span>{{picked.summary}}</span>
    </div>
    
  </template>
  <script type="application/dart" src="resource_picker.dart"></script>
</polymer-element>