<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="game_info.html">
<link rel="import" href="action_log.html">

<polymer-element name="scripted-game">
  <template>
	  <style>
			body{
				margin:0;
				padding:0;
				line-height: 1.5em;
			}
			#maincontainer{
				margin: 0 auto; /*Center container on page*/
			}
			#topsection{
				background: #EAEAEA;
				height: 90px; /*Height of top section*/
			}
			#topsection h1{
				margin: 0;
			}
			#contentwrapper{
				float: left;
				width: 100%;
			}
			#contentcolumn{
				margin-left: 200px; /*Set left margin to LeftColumnWidth*/
			}
			#leftcolumn{
				/* float: left;*/
				width: 200px; /*Width of left column*/
				/* margin-left: -840px; /*Set left margin to -(MainContainerWidth)*/
				background: #C8FC98;
				position: absolute;
			}
			#footer{
				clear: left;
				width: 100%;
				background: black;
				color: #FFF;
				text-align: center;
				padding: 4px 0;
			}
			#footer a{
				color: #FFFF80;
			}
			.innertube{
				margin-top: 0;
			}
	  
	  </style>
	  
		<div id="maincontainer">
		
			<div id="topsection">
				<div class="innertube">
					<h1>Scripted game</h1>
					<input type="button" disabled?="{{untimedActions.isEmpty}}" on-click="{{instant}}" value="Instant" />
					<input type="button" on-click="{{timed}}" value="Timed" />
					<input type="button" on-click="{{next}}" value="Next" /> 
					<input type="button" on-click="{{nextPhase}}" value="Next phase" />
					<span>{{game.phases.turns.turn.humanIndex}}</span>
				</div>
			</div>
			
			<div id="contentwrapper">
				<div id="contentcolumn">
					<div class="innertube"><game-info id="game" game="{{game}}"></game-info></div>
				</div>
			</div>
			
			<div id="leftcolumn">
				<div class="innertube">
				
					<action-log actions="{{performedActions}}"></action-log>
					
				</div>
			</div>
			
			<div id="footer"><span>{{game.status}}</span></div>
		
		</div>
	  
  </template>
  <script type="application/dart" src="scripted_game.dart"></script>
</polymer-element>