<link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="todo-action">
  <template attributes="game player">
  
    <style>
      .doneText {
        font-size: 8px;
        margin: 0;
      }
      #actions {
        overflow-y: scroll;
        height: 500px;
      }
      span {
        font-size: 11px;
        font-weight: bold;      
      }
    </style>
    
    <span>todo: {{text}}</span>
    
  </template>
  <script type="application/dart" src="todo_action.dart"></script>
</polymer-element>