    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="turn-status">
  <template attributes="turn">
  
	  <style>
	  </style>

		<div>
			<span>Turn</span>
			<span>{{turn.humanIndex}}</span>
		</div>
    
  </template>
  <script type="application/dart" src="turn_status.dart"></script>
</polymer-element>