    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="user-list">
  <template>
	  <style>
	  </style>
    <h1>Users</h1>
    <ul>
      <template repeat="{{user in users}}">
        <li>
          <span>{{user.name}}</span>
        </li>
      </template>
    </ul>
    
  </template>
  <script type="application/dart" src="user_list.dart"></script>
</polymer-element>