    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="visual-info">
  <template>
	  <style>
	  	* {
	  		background: purple;
	  	}
	  	#root {
	  		height: 200px;
	  		width: 200px;
	  	}
	  </style>
	  
	  <h1>visual inspector</h1>
	  <span>{{visual.toString()}}</span>
    <div id="root">
    	<svg id=svgRoot width=200 height=200></svg>
    </div>
    
  </template>
  <script type="application/dart" src="visual_info.dart"></script>
</polymer-element>