<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="build-city-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #city {
        background-image: url('../../img/icon16/City.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <input
      type="submit"
      id="city"
      disabled
      class="build-button"
      value="city" 
      on-click="{{buildCity}}">
    
  </template>
  <script type="application/dart" src="build_city_button.dart"></script>
</polymer-element>