<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="build-town-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #town {
        background-image: url('../../img/icon16/Town.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <input
      type="submit"
      id="town"
      class="build-button"
      value="town"
      disabled
      on-click="{{buildTown}}">
    
  </template>
  <script type="application/dart" src="build_town_button.dart"></script>
</polymer-element>