<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="build-road-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #road {
        background-image: url('../../img/icon16/Road.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <input
      type="submit"
      id="road" 
      disabled
      class="build-button"
      value="road" 
      on-click="{{buildRoad}}">
    
  </template>
  <script type="application/dart" src="build_road_button.dart"></script>
</polymer-element>