<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="buy-development-card-button">
  
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #buy-development-card {
        background-image: url('../../img/icon16/BuyDevelopmentCard.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="buy-development-card"
      class="build-button"
      disabled
      value="buy devcard"
      on-click="{{buyDevelopmentCard}}">
    
  </template>
  <script type="application/dart" src="buy_development_card_button.dart"></script>
</polymer-element>