<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="claim-victory-button">
  <template attributes="player gameServerEndPoint game">
  
    <style>
      #claim-victory {
        background-image: url('../../img/icon16/ClaimVictory.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <input
      type="submit"
      disabled
      id="claim-victory" 
      class="build-button"
      value="claim victory" 
      on-click="{{claimVictory}}">
    
  </template>
  <script type="application/dart" src="claim_victory_button.dart"></script>
</polymer-element>