<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="die-info">
  <template attributes="number">
  
	  <style>
	  </style>
	  
    <svg height="50" width="50">
    	<rect height="40" width="40" x="2" y="2" rx="5" ry="5" fill="white" stroke="black" stroke-width="2" />
    	
    	<circle cx="12" cy="12" r="3" stroke="black" style="display: {{display(show1)}}" />
    	<circle cx="12" cy="22" r="3" stroke="black" style="display: {{display(show2)}}" />
    	<circle cx="12" cy="32" r="3" stroke="black" style="display: {{display(show3)}}" />
    	
    	<circle cx="22" cy="22" r="3" stroke="black" style="display: {{display(show4)}}" />
    	
    	<circle cx="32" cy="12" r="3" stroke="black" style="display: {{display(show5)}}" />
    	<circle cx="32" cy="22" r="3" stroke="black" style="display: {{display(show6)}}" />
    	<circle cx="32" cy="32" r="3" stroke="black" style="display: {{display(show7)}}" />
    </svg>
    
  </template>
  <script type="application/dart" src="die_info.dart"></script>
</polymer-element>