<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="end-turn-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #end-turn {
        background-image: url('../../img/icon16/EndTurn.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <input
      type="submit"
      id="end-turn" 
      disabled
      class="build-button"
      value="end turn" 
      on-click="{{endTurn}}">
    
  </template>
  <script type="application/dart" src="end_turn_button.dart"></script>
</polymer-element>