<link rel="import" href="../resource_picker.html">
<link rel="import" href="packages/html_components/dialog/dialog.html"> 
      
<polymer-element name="loose-cards-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #loose-cards {
        background-image: url('../../img/icon16/LooseCards.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="loose-cards"
      disabled
      class="build-button"
      
      value="loose cards"
      on-click="{{startPick}}">
      
    <h-dialog id="pick-resources" modal closable>
      <header>A 7 is rolled, throw away half of you hand cards</header>
      <div>
        Pick <span>{{player.resources.looseCount}}</span> resources
      </div>
      
      <resource-picker 
        id="resource-picker"
        finite
        pickable="{{player.resources}}"
        minimumPicks="{{player.resources.looseCount}}" 
        maximumPicks="{{player.resources.looseCount}}">
      </resource-picker>
      
      <input
        id="ok-button"
        type="button" 
        value="ok"
        on-click="{{picked}}" />
    </h-dialog>
    
  </template>
  <script type="application/dart" src="loose_cards_button.dart"></script>
</polymer-element>