<link rel="import" href="../packages/polymer/polymer.html">

<polymer-element name="move-robber-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #move-robber {
        background-image: url('../../img/icon16/MoveRobber.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="move-robber"
      class="build-button"
      disabled
      value="move robber"
      on-click="{{moveRobber}}">
    
  </template>
  <script type="application/dart" src="move_robber_button.dart"></script>
</polymer-element>