    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="rob-player-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #rob-player {
        background-image: url('../../img/icon16/RobPlayer.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="rob-player"
      class="build-button"
      disabled
      value="rob a player"
      on-click="{{robPlayer}}">
    
  </template>
  <script type="application/dart" src="rob_player_button.dart"></script>
</polymer-element>