<link rel="import" href="die_info.html">

<polymer-element name="roll-dice-button">
  <template attributes="gameServerEndPoint game player">
	  <style>
      * {
	  	  float:left;
  	  }
  	  #container {
  	  	border: 2px solid white;
  	  	border-radius: 5px;
  	  	padding: 0.5em;
  	  	width: 170px;
  	  	height: 60px;
  	  	display: inline;
  	  }
  	  #container:hover:enabled {
  	  	border: 2px solid black;
  	  }
  	  span {
  	  	font-size: 36px;
  	  	font-weight: bold;
  	  	margin: 0.1em 0.1em 0.1em 0.1em
  	  }
	  </style>
	  
	  <button id="container" on-click="{{roll}}">
	 	  <die-info id="die1" number="{{diceRoll.die1}}"></die-info>
	 	  <die-info id="die2" number="{{diceRoll.die2}}"></die-info>
	 	  <span id="total">{{diceRoll.total}}</span>
	  </button>

  </template>
  <script type="application/dart" src="roll_dice_button.dart"></script>
</polymer-element>