<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="packages/html_components/dialog/dialog.html">
<link rel="import" href="../resource_picker.html">
    
<polymer-element name="trade-player-dialog">
  <template attributes="player gameServerEndPoint game">
  
    <style>
      li {
        display: inline;
        list-style-type: none;
      }
      ul {
        margin-right: 8px;
        margin-left: 8px;
        display: inline;
        padding: 0;
      }
      #trade-button {
        width: 100%;
      }
    </style>
    
    <h-dialog id="dialog" modal closable>
      <header>Trade with opponents</header>
      
      <table>
        <tbody>
          <tr>
            <td>
            
              <table>
                <thead>
                  <tr><td><h4>Your hand</h4></td></tr>
                </thead>
                <tbody>
                  <tr template repeat="{{type in playerResources.byType.keys}}">
                    <td><img src="{{icon(type)}}"></td>
                    <td><span>{{name(type)}}</span>
                    <td>4</td>
                    <td>3</td>
                    <td>2</td>
                    <td>
                      <ul>
                        <template repeat="{{resource in playerResources.byType[type]}}">
                          <li><img src="{{icon(resource)}}" on-click="{{addToOffered}}" data-hashcode="{{type.hashCode}}"></li>
                        </template>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            
            </td>
            
            <td>
              <h4>You want:</h4>
              <div>
                <resource-picker pickable="{{tradeableResources}}" picked="{{wanted}}"></resource-picker>
              </div>
            </td>
            
          </tr>
          
          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>
          
          <tr>
            <td>
              <resource-list resources="{{offered}}" on-resourceselected="{{removeFromOffered}}" right></resource-list>
            </td>
            <td>
              <resource-list resources="{{wanted}}" on-resourceselected="{{removeFromWanted}}"></resource-list>
            </td>
          </tr>
        
        </tbody>
      
      </table>
      
      
      
      <button id="trade-button" on-click="{{offerTrade}}">
        <span>Offer </span>
        <resource-list id="offered" resources="{{offered}}"></resource-list>
        <span> for </span>
        <resource-list id="wanted" resources="{{wanted}}"></resource-list>
      </button>
      
      <span>Trade #{{game.phases.turns.turn.responsesByOffer.length}}</span>
      
      <table>
        <thead>
          <tr><td><h4>Opponents</h4></td></tr>
        </thead>
        <tbody>    
          <tr template repeat="{{opponent in game.players.opponents(player)}}">
            <td>{{opponent.user.name}}</td>
            <td colspan="5">
              <ul>
                <template repeat="{{resource in opponent.resources}}">
                  <li>
                    <img src="../../img/icon16/BlankCard.png">
                  </li>
                </template>
              </ul>
            </td>
            <td>
              <template if="{{game.phases.turns.turn.currentResponses[opponent].isAccept}}">
                <button 
                  data-player-hashcode="{{opponent.hashCode}}"
                  on-click="{{tradeAcceptedOffer}}">
                  <img src="../../img/icon16/AcceptOffer.png">
                  <span>ok</span>
                </button>
              </template>
              <template if="{{game.phases.turns.turn.currentResponses[opponent].isReject}}">
                <span>no</span>
              </template>
              <template if="{{game.phases.turns.turn.currentResponses[opponent].isCounterOffer}}">
                <button
                  data-player-hashcode="{{opponent.hashCode}}"
                  on-click="{{tradeCounterOffer}}">
                  <span>counter:</span>
                  <resource-list resources="{{ggame.phases.turns.turn.currentResponses[opponent].wanted}}"></resource-list>
                  <span> for </span>
                  <resource-list resources="{{game.phases.turns.turn.currentResponses[opponent].offered}}"></resource-list>
                </button>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div>Market size: <span>{{marketSize}}</span></div>
      
    </h-dialog>
    
    
  </template>
  <script type="application/dart" src="trade_player_dialog.dart"></script>
</polymer-element>