<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="../resource_picker.html">
<link rel="import" href="../has_port.html">
<link rel="import" href="packages/html_components/dialog/dialog.html">

<polymer-element name="trade-bank-dialog">
  <template attributes="player bank">
  
    <style>
      li {
        display: inline;
        list-style-type: none;
      }
      ul {
        margin-right: 8px;
        margin-left: 8px;
        display: inline;
        padding: 0;
      }
      .group {
        border: 1px solid white;
      }
      .group:hover {
        border: 1px solid black;
      } 
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
    
    <h-dialog id="dialog" modal closable>
      <header>Trade with the bank</header>

      <table>
        <tbody>
        
          <tr>
            <td>
              <h4>your hand</h4>
            </td>
          </tr>
          <tr template repeat="{{type in playerResources.byType.keys}}">
            <td>
              <img src="{{icon(type)}}">
              <span>{{name(type)}}</span>
            </td>
            <td><img src="../../img/icon16/FourToOnePort.png"></td>
            <td>
              <has-port player="{{player}}" threeToOne></has-port>
            </td>
            <td>
              <has-port player="{{player}}" type="{{type}}"></has-port>
            </td>
            <td>
              <ul>
                <template repeat="{{resource in playerResources.byType[type]}}">
                  <img src="{{icon(resource)}}" on-click="{{addToOffered2}}" data-hashcode="{{resource.hashCode}}">
                </template>
              </ul>
              <!-- when iterating over a group, polymer don't get notified
              when changes occur.  -->
              <!--
                <template repeat="{{group in groups(type)}}">
                  <li class="group" on-click="{{addToOffered}}" data-hashcode="{{type.hashCode}}">
                    <ul>
                      <template repeat="{{resource in group}}">
                        <li>
                          <img src="{{icon(resource)}}">
                        </li>
                      </template>
                    </ul>
                  </li>
                </template>
                 -->
            </td>
          </tr>
          
          <tr>
            <td>
              <h4><img src="../../img/icon16/Bank.png">bank</h4>
            </td>
          </tr>
          <tr colspan="2">
            <td>
              <ul>
                <template repeat="{{type in bankResources.byType.keys}}">
                  <li on-click="{{addToWanted}}" data-hashcode="{{type.hashCode}}">
                    <img src="{{icon(type)}}">
                    <span>{{bank.resources.byType[type].length}}</span>
                  </li>
                </template>
              </ul>
            </td>          
          </tr>
        </tbody>
      
      </table>
      
      <div>
        <h4>Proposal</h4>
        <span>Get </span>
        <resource-list resources="{{wanted}}" on-resourceselected="{{removeFromWanted}}"></resource-list>
        <span> for </span> 
        <resource-list resources="{{offered}}" on-resourceselected="{{removeFromOffered}}"></resource-list>
      </div>
      
      <input id="button-trade" type="button" value="trade" on-click="{{tradeBank}}" />
    </h-dialog>
    
  </template>
  <script type="application/dart" src="trade_bank_dialog.dart"></script>
</polymer-element>