<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="trade_player_dialog.html">

<polymer-element name="trade-player-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #trade-player {
        background-image: url('../../img/icon16/Trade.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="trade-player"
      class="build-button"
      disabled
      value="trade with opponents"
      on-click="{{showDialog}}">
    
    <trade-player-dialog
      id="dialog" 
      player="{{player}}" 
      game="{{game}}"
      gameServerEndPoint="{{gameServerEndPoint}}"></trade-player-dialog>
    
  </template>
  <script type="application/dart" src="trade_player_button.dart"></script>
</polymer-element>