<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="trade_bank_dialog.html">

<polymer-element name="trade-bank-button">
  <template attributes="player gameServerEndPoint game boardVisual">
  
    <style>
      #trade-bank {
        background-image: url('../../img/icon16/TradeBank.png');
      }
    </style>
    
    <link rel="stylesheet" href="../../webtest.css">
  
    <input 
      type="submit" 
      id="trade-bank"
      class="build-button"
      disabled
      value="trade with the bank"
      on-click="{{showDialog}}">
    
    <trade-bank-dialog
      id="dialog" 
      player="{{player}}" 
      gameServerEndPoint="{{gameServerEndPoint}}"
      bank="{{game.bank}}"></trade-bank-dialog>
    
  </template>
  <script type="application/dart" src="trade_bank_button.dart"></script>
</polymer-element>