    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="play-victory-point-button">
  
  <template attributes="player gameServerEndPoint game victoryPoint">
  
    <link rel="stylesheet" href="../../webtest.css">
  
    <button
      id="play-victory-point"
      on-click="{{playVictoryPoint}}">
      <img src="../../img/icon16/VictoryPoint.png">
      <span>victory point</span>
    </button>
    
  </template>
  <script type="application/dart" src="play_victory_point_button.dart"></script>
</polymer-element>