    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="play-soldier">
  
  <template attributes="player gameServerEndPoint game soldier">
  
    <link rel="stylesheet" href="../../webtest.css">
  
    <button
      id="play-soldier"
      disabled
      on-click="{{playSoldier}}">
      <img src="../../img/icon16/Soldier.png">
      <span>soldier</span>
    </button>
    
  </template>
  <script type="application/dart" src="play_soldier.dart"></script>
</polymer-element>