<link rel="import" href="packages/html_components/dialog/dialog.html">
<link rel="import" href="../resource_picker.html">
    
<polymer-element name="play-invention-button">
  
  <template attributes="player gameServerEndPoint game invention">
  
    <link rel="stylesheet" href="../../webtest.css">
  
    <button
      id="play-invention"
      disabled
      on-click="{{showDialog}}">
      <img src="../../img/icon16/Invention.png">
      <span>invention</span>
    </button>
    
    <h-dialog id="dialog">
      <header>Pick 2 resources</header>
      <resource-picker 
        id="resource-picker"
        minimumPicks="2"
        maximumPicks="2"></resource-picker>
      <button
        id="ok-button"
        disabled
        on-click="{{playInvention}}">OK</button>
    </h-dialog>
    
  </template>
  <script type="application/dart" src="play_invention_button.dart"></script>
</polymer-element>