    <link rel="import" href="../packages/polymer/polymer.html">
    
<polymer-element name="play-road-building-button">
  
  <template attributes="player gameServerEndPoint game roadBuilding">
  
    <link rel="stylesheet" href="../../webtest.css">
  
    <button
      id="play-road-building"
      disabled
      on-click="{{playRoadBuilding}}">
      <img src="../../img/icon16/RoadBuilding.png">
      <span>road building</span>
    </button>
    
  </template>
  <script type="application/dart" src="play_road_building_button.dart"></script>
</polymer-element>