<link rel="import" href="packages/html_components/dialog/dialog.html">
<link rel="import" href="../resource_picker.html">
    
<polymer-element name="play-monopoly-button">
  
  <template attributes="player gameServerEndPoint game monopoly">
  
    <link rel="stylesheet" href="../../webtest.css">
  
    <button
      id="play-monopoly"
      disabled
      on-click="{{showDialog}}">
      <img src="../../img/icon16/Monopoly.png">
      <span>monopoly</span>
    </button>
    
    <h-dialog id="dialog">
      <header></header>
      <span>Pick 1 resource type:</span>
      <resource-picker
        id="resource-picker"
        minimumPicks="1"
        maximumPicks="1"></resource-picker>
      <button
        id="ok-button" 
        on-click="{{playMonopoly}}">OK</button>
    </h-dialog>
    
  </template>
  <script type="application/dart" src="play_monopoly_button.dart"></script>
</polymer-element>