<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Dartan components</title>

  	<link rel="import" href="packages/polymer/polymer.html">

    
    <link rel="import" href="elements/bank_stock.html">
    <link rel="import" href="elements/board_ui.html">
    <link rel="import" href="elements/chat_log.html">
    <link rel="import" href="elements/action_button/roll_dice_button.html">
    <link rel="import" href="elements/action_button/die_info.html">
    <link rel="import" href="elements/game_info.html">
    <link rel="import" href="elements/game_status.html">
    <link rel="import" href="elements/player_status.html">
    <link rel="import" href="elements/resource_list.html">
    <link rel="import" href="elements/resource_picker.html">
    <link rel="import" href="elements/user_list.html">
    
    <script type="application/dart">export 'package:polymer/init.dart';</script>
    <script src="packages/browser/dart.js"></script>
    
    <link rel="stylesheet" href="webtest.css">
  </head>
  <body>
  	<h1>Implemented  components for Dartan</h1>

    
    <!--
    <h2>board-ui</h2>
    <board-ui board="{{new Standard4p()}}"></board-ui>
    <h2>game-info</h2>
    <game-info></game-info>
    --> 
    
    <h2>game-status</h2>
    <game-status></game-status>
  	
    <h2>resource-list</h2>
    <resource-list></resource-list>

    <h2>resource-picker</h2>
    <resource-picker></resource-picker>

    <h2>user-list</h2>
    <user-list></user-list>
    
    <h2>player-status</h2>
    <player-status></player-status>

    <h2>die-info</h2>
    <die-info number="1"></die-info>
    <die-info number="2"></die-info>
    <die-info number="3"></die-info>
    <die-info number="4"></die-info>
    <die-info number="5"></die-info>
    <die-info number="6"></die-info>
    
    <h2>dice-roller</h2>
    <roll-dice-button></roll-dice-button>
    
    <h2>bank-stock</h2>
    <bank-stock></bank-stock>
    
    <h2>chat-log</h2>
    <chat-log></chat-log>
    
  </body>
</html>
