body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  /* line-height: 1.2em; */
  /* margin: 15px; */
  margin: 0;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#click_counter {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#click_counter button {
  font-size: 24pt;
  margin-bottom: 20px;
}

.build-button {
  background-repeat: no-repeat;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: 1px solid black;
}
.build-button:hover {
  border: 1px solid red;
}
.build-button:disabled {
  background-color: #EEE;
  color: #AAA;
  border: 1px solid #AAA;
  background-image: none;
}